<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CredibilityX - Your Own Fact-Checker</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">   
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/chomsky" type="text/css"/>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body style="background-color: #dcd5ca;">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5">
        <a href="{{ url_for('views.home') }}" class="navbar-brand d-flex align-items-center">
            <h1 class="m-0" style = "font-family: 'ChomskyRegular';
            font-weight: normal;
            font-style: normal;">CredibilityX</h1>
        </a>
        <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{ url_for('views.home') }}" class="nav-item nav-link active">Home</a>
                <a href="#services" class="nav-item nav-link">Services</a>
                <a href="#about" class="nav-item nav-link">About</a>
                
                <!-- <a href="product.html" class="nav-item nav-link">Products</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="gallery.html" class="dropdown-item">Gallery</a>
                        <a href="feature.html" class="dropdown-item">Features</a>
                        <a href="team.html" class="dropdown-item">Our Team</a>
                        <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        <a href="404.html" class="dropdown-item">404 Page</a>
                    </div>
                </div>
                <a href="contact.html" class="nav-item nav-link">Contact</a> -->
            </div>
            <!-- <div class="border-start ps-4 d-none d-lg-block">
                <button type="button" class="btn btn-sm p-0"><i class="fa fa-search"></i></button>
            </div> -->
        </div>
    </nav>
    <!-- Navbar End -->


     
    <div class="container-fluid px-0 mb-5">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{ url_for('static', filename='img/carousel-1.png') }}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-8 text-start">
                                    <p class="fs-4 " style="color: black;font-weight: bolder;">Helping you seperate facts from fiction.</p>
                                    <h1 class="display-1  mb-5 animated slideInRight" style="margin-bottom: 1 rem !important;font-family: 'ChomskyRegular';
                                    font-weight: normal;
                                    font-style: normal;color: black;">CredibilityX</h1>
                                    
                                    
                                    <a href="#services" class="btn btn-secondary rounded-pill py-3 px-5 animated slideInRight">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Service Start -->
    <div class="container-xxl py-5" id = "services">
        <div class="container">
            <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Our Services</p>
                <h1 class="mb-5">Fact-Check Your Information Now!</h1>
            </div>
            <div class="row gy-5 gx-4">
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/service-1a.png') }}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/service-1a.png') }}" alt="">
                            </div>
                            <h5 class="mb-3">Article Links</h4>
                            <p class="mb-4">Upload your article and news links here!</p>
                            <a class="btn btn-square rounded-circle" href="#Articles"><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp"  data-wow-delay="0.3s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/service-2.png') }}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/service-2.png') }}" alt="">
                            </div>
                            <h5 class="mb-3">Images and Other Media</h5>
                            <p class="mb-4">Click here to fact-check your media!</p>
                            <a class="btn btn-square rounded-circle" href="#Images"><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="{{ url_for('static', filename='img/service-3.png') }}" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="{{ url_for('static', filename='img/service-3.png') }}" alt="">
                            </div>
                            <h5 class="mb-3">Your Own Text</h5>
                            <p class="mb-4">Verify textual content!</p>
                            <a class="btn btn-square rounded-circle" href="#TextBox"><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->




    <hr>
    <!-- About Start -->
    <div class="container-xxl py-5" id = "Articles" style="padding-top:1 rem;">
        <div class="container">
            <div class="row g-5 align-items-end">
                
                <!-- INSERT LINK BOX HERE
                    
                    <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-secondary rounded">
                                <h1 class="display-1 mb-0">25</h1>
                                <small class="fs-5 fw-bold">Years Experience</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="img/service-1.jpg">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="img/service-2.jpg">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="img/service-3.jpg">
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6 wow fadeIn"  data-wow-delay="0.5s">
                    <!-- <p class="section-title bg-white text-start text-primary pe-3">About Us</p> -->
                    <h1 class="mb-4"  >Submit Online Articles and News Links</h1>
                    <p class="mb-4">Easily analyze the credibility of online articles and news stories by simply pasting the link into the textbox below.</p>
                    <div class="row g-5 pt-2 mb-5">
                        <form action="" method="" enctype="multipart/form-data">
                            <input type="url" class="form-control" id="urlInput" name="url" placeholder="Enter URL here"><br><br>
                    
                            <input type = "submit" class="btn btn-secondary rounded-pill py-3 px-5 mt-3" value = "Upload">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <hr style="color: black;">
    <!-- Features Start -->
    <div class="container-xxl py-5" id = "Images"  style="padding-top: 1 rem;">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp"  data-wow-delay="0.1s">
                    <!-- <p class="section-title bg-white text-start text-primary pe-3">Why Us!</p> -->
                    <h1 class="mb-4">Upload Images or PDF Documents</h1>
                    <p class="mb-4">Have an image or PDF document containing news content? Upload it here, and CredibilityX will work its magic, ensuring the information you're reading is trustworthy and unbiased.</p>
                    

<!-- Upload  -->
                    
                    <input type="file" class = "form-control" id="myfile" name="myfile">
                    <input type="submit" value="Upload" class="btn btn-secondary rounded-pill py-3 px-5 mt-3" id="">
                    
                    
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        

                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- Features End -->

    <hr style="color: black;">
    <!-- Features Start -->
    <div class="container-xxl py-5" id = "TextBox" style="padding-top: 1 rem;">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeInUp"  data-wow-delay="0.1s">
                    <h1 class="mb-4">Paste or Type Your Content</h1>
                    <p class="mb-4">Prefer to type or paste the content directly? No problem! Use the textbox below to enter the text of the article or news story you want to check for authenticity. Our tool will do the rest, helping you distinguish between real news and misinformation.</p>
                    
                </div>
                <div class="col-lg-6">
                    <div class="rounded overflow-hidden">
                        <form action="" method="">
                            <textarea id="textInput" placeholder="Enter your text here" class="form-control" name="text" rows="10" cols="80" required></textarea><br><br>
                            <input type="submit" class="btn btn-secondary rounded-pill py-3 px-5 mt-3" value = "Upload">
                            
                        </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- Features End -->

    

    
    <hr style="color: black;">
    <!-- Team Start -->
    <div class="container-xxl py-5" id = "about">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">About Us</p>
                <h1 class="mb-5">Meet Our Team</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">
                        <h5>K.V.H Kashyap</h5>
                        <p class="text-primary">ML Engineer,UI</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-1.jpg') }}" alt="">
                        <h5>Pranav Raj Bulus</h5>
                        <p class="text-primary">ML Engineer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-2.jpg') }}" alt="">
                        <h5>Bhanu Sai Veeramallu</h5>
                        <p class="text-primary">ML Engineer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded p-4">
                        <img class="img-fluid rounded mb-4" src="{{ url_for('static', filename='img/team-3.jpg') }}" alt="">
                        <h5>Akhil Vanapalli</h5>
                        <p class="text-primary">Front-End Developer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-secondary rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->

    <hr style="color: black;">
    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Testimonials</p>
                <h1 class="mb-5">What People Say About Us</h1>
            </div>
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-img">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" alt="">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}" alt="">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-3.jpg') }}" alt="">
                        <img class="img-fluid animated pulse infinite" src="{{ url_for('static', filename='img/testimonial-4.jpg') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-1.jpg') }}" alt="">
                            <p class="fs-5">I can't believe I used to fall for fake news all the time. Thanks to this website, I now feel more informed and confident about the news I consume. It's become an essential tool in my daily routine.</p>
                            <h5>John Doe</h5>
                            <span class="text-primary">Student</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-2.jpg') }}" alt="">
                            <p class="fs-5">I was skeptical at first, but this fake-news detector website has exceeded my expectations. It's easy to use, and the results are impressively accurate. I've recommended it to all my friends and family.</p>
                            <h5>Mariah Williams</h5>
                            <span class="text-primary">IT-Professional</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-3.jpg') }}" alt="">
                            <p class="fs-5">As a professor, I worry about the impact of fake news on my students. This website has been a game-changer in teaching them critical thinking and media literacy skills. It's an invaluable resource for educators.</p>
                            <h5>Ron Stranton</h5>
                            <span class="text-primary">Professor</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid mb-3" src="{{ url_for('static', filename='img/testimonial-4.jpg') }}" alt="">
                            <p class="fs-5">Fake news is a real problem in today's world, and this website is a powerful antidote. It's user-friendly, fast, and reliable. It gives me peace of mind knowing I can trust the information I come across online.</p>
                            <h5>Jessica Jones</h5>
                            <span class="text-primary">Marketing Executive</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <!-- Footer Start -->
    <!-- <div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Our Office</h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-secondary rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Quick Links</h5>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Business Hours</h5>
                    <p class="mb-1">Monday - Friday</p>
                    <h6 class="text-light">09:00 am - 07:00 pm</h6>
                    <p class="mb-1">Saturday</p>
                    <h6 class="text-light">09:00 am - 12:00 pm</h6>
                    <p class="mb-1">Sunday</p>
                    <h6 class="text-light">Closed</h6>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-white mb-4">Newsletter</h5>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative w-100">
                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-secondary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Footer End -->


    <!-- Copyright Start -->
    <!-- <div class="container-fluid bg-secondary text-body copyright py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="fw-semi-bold" href="#">Your Site Name</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    /*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/
                    Designed By <a class="fw-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Copyright End -->

    <footer id="footer" style="text-align:center;padding-top: 20px;">
        <p>© CredibilityX</p>
    
      </footer>


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/parallax/parallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/lightbox/js/lightbox.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>

</html>